body, html {
    margin: 0;
    padding: 0;
    background-image: url(harr.JPG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 0;

}

* {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

#Header {

   

    width: 100%;
    background-color: black;

    display: flex;
    text-align: center;
    height: 200%;
    color: aliceblue;
    background-color: black;
    justify-content: center;
    padding-bottom: -10px;
    margin:0;
    

}

#Header img{
    
    background-color: black;
    
}

.namlogo{
    height: 75px;
    width: 150px;
}

#Header::after {
    content: "";
    position: relative;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: #ffffff;
}

#NavBar-container {

padding: 0;
margin: 0;
}

.headcon{
    background-color: black;
}




header {
    padding-top: 0.7rem;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0.7rem;

    justify-content: space-evenly;
    max-height: 5%;
    display: flex;
    position: sticky;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    

    
    color: antiquewhite;
    text-overflow: hidden;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.2s ease-in-out;
    
}

header a {
    text-decoration: none;
    margin-right: 0rem;
    color: rgb(255, 255, 255);
}

header a:hover {
color: greenyellow;
text-shadow: 0px 0px 3px white ;
    
}

header.scrolled{
    padding-top: 20px;
        height: 8%;
        padding-bottom:20px ;
    background-color: #000000b9;
    color: black;
    position: fixed;
    top: 0;
    overflow-wrap: normal;
    box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.5);
    z-index: 1000;

}

header.scrolled a{
    color: rgb(255, 255, 255);
}


#ticket {
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-inline-size: 80%;
    color: black;
    border-radius: 50px;
    border: 2px solid greenyellow;
    background-color: greenyellow;
}

#ticket a {
    margin: 0;
    color: black;
}

#heading {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

#snapshots{
    background-color: #ffffff;
    width: 100%;
    margin-top: -1.5vw;
    margin-bottom: -1.5vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
   


}

#snapshots h1{
    padding: 0;
}


#imagescur{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 0 25px 30px;
}

#curators{
    padding: 20px;
 align-self: center;
 background: linear-gradient(to right, rgba(0, 11, 165, 0.29), rgba(0, 0, 0, 0.485));
}

#curators H1{
    font-size: calc(2vw + 2vh);
    color: #ffffff;
    align-self: center;
    justify-content: center;
    display: flex;
}

#imagewtext{
    justify-items: center;
    height: 400px;
    width: 400px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(172, 172, 172, 0.867));
    overflow: hidden;
    border-radius: 2%;
    text-align: center;
}

#imagewtext img {
    border-radius: 50%;
    width: 400px;  /* 20% of the viewport width */
    height: 400px; /* Ensures the image is a square */
    max-width: 300px; /* Maximum size limit */
    max-height: 300px; /* Maximum size limit */
    min-width: 100px;  /* Minimum size limit */
    min-height: 100px; /* Minimum size limit */
}

.imageWithText {
    

    margin: 0;
    border-radius: 15%;

    padding: 0;
    height: 300px;
    width: 100%;
    object-fit: cover;
    padding:4vw ;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
}

    #imageWithText {

    margin: 0;
    height: 300px;
    padding: 0;
    object-fit: cover;
   
    


}


#buttons{
    text-decoration: none;
    padding: 0;
    margin: 0;
 position: relative;
 display: flex;
 justify-content: space-between;
 top: -12rem;

}

#buttons button{
    text-shadow: 2px 0px 12px rgb(255, 255, 255);
    border: none;
    background: none;
    font-size: 2rem;
}

#manifest{
    padding: 10px;
    background: linear-gradient(to right, rgba(0, 11, 165, 0.553), rgba(0, 0, 0, 0.617));

}

#manifest{
    color: white;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    text-align: justify;
}

#manifest p{
    font-size: 18px;
    padding-bottom: 50px;
    justify-content: center;
    text-align: justify;
}






#footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    padding-bottom: 5rem;
}

#footercontent h1 {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#footercontent h3 {
    margin: 0;
    padding: 0;
    color: blanchedalmond;
    float: right;
    padding-right: 10%;
}

#footercontent p {
    color: #ffffff;
}

.navylogo{
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.navyLogo{
    height: 100px;
    width: 100px;
}

#feedback{
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    


}

#contactus{

    padding: 50px;
    color: white;
    background: linear-gradient(to right, rgba(0, 11, 165, 0.553), rgba(0, 0, 0, 0.617));
    display: flex;
    flex-direction: column;

}

#contactus p{
    margin: 2px;

}

#cuemail{
    padding: 30px 0;
    

}

#feedback a{

    color: #ffffff;
    padding: 20px;
    border-radius: 10%;
    background-color: black;
    text-decoration: none;
    font-size: 3vw;
}

.btn {
    margin-top: 45%;
    
    margin: 0;
    padding: 0px ;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position:fixed;
    display: flex;
   

    width: 800px;
    height: 200px;


    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;

    z-index: 10000;
    border-radius: 12px;
    margin-top: 20%;
    margin-left: 20%;
 
    text-align: center;
    
  }
  .btn::after {
    text-align: center;
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #11212D;

    border-radius: 10px;
    justify-content: center;  /* Centers horizontally */
    align-items: center;
    
  }
  /* glow */
  .btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
   
    background-size: 1000%;
    z-index: -1;
    width: calc(100% + 20px);
    height:  calc(100% + 20px);
    filter: blur(10px);
    animation: glowing 15s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
    justify-content: center;  /* Centers horizontally */
    align-items: center;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .btn::before {
    opacity: 1;
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:active {
    color: #000;
    font-weight: bold;
  }

.btn h5{
    
    margin: 0; /* 기본 마진 제거 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    text-align: center;
    padding: 0;
    margin-top: -2px;
    font-size: 70px;
 
}

.btn button {
    background: none;
    border: none;
    
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: left;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    #Header {
        height: auto;
        padding-bottom: -100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #heading {
        font-size: 1.5rem;
    }

    header {
        margin-top: -20px;
        display: flex;
        justify-content: space-evenly;
        
        height: 5%;
        text-wrap: balance;
    }

    header a {
        
        font-size: calc(1vw + 1vh);
        
    }

    header.scrolled{
        padding-top:10px;
        padding: 20px;
        padding-bottom:5px ;
    }

    .imageWithText {
        margin: 0;
        height: 300px;
        padding: 0;
        object-fit: cover;

        
    }

    #ticket{
        font-size: calc(0.5vw + 0.5vh);

    }
    #imageWithText{

        object-fit: cover;
        
        

    }

    #imagescur{
        flex-direction: column;
        align-items: center;
        gap: 15px
    }
    #imagewtext{
        
        height: 300px;
        width: 300px;

    }

    #imagewtext img{

        height: 200px;
        width: 200px;
    }

    #feedback{

        margin-top: 100px;
    }

    #manifest{
        font-size: 14px;
    }

    #manifest p{
        font-size: 13px;
    }

    #contactus p{
        
        font-size: 13px;
    }
   

  
    
    }

    #footercontent h1 {
        font-size: 1rem;
    }

    #footercontent h3 {
        font-size: 0.8rem;
    }


